
@{
    ViewData["Title"] = "Files";
}
@model List<UserFile>

 @section Scripts{
     <script>
         $(document).ready(function (){
            var hasStartCreatiingExcel = '@TempData["StartCreatingExcel"] ';
            if(hasStartCreatiingExcel){
  
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Excel  oluşturma işlemi başlamıştır.Bittiğinde bildiri alacaksınız.',
                        showConfirmButton: false,
                        timer:2500
                        
                    })
             
            }
         })
     </script>
 }
<h1>Files</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>FileName</th>
            <th>Created Date</th>
            <th>Download</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FileName</td>
            <td>@item.GetCreatedDate</td>
            <td>@item.FileStatus</td>
            <td><a href="~/files/@item.FilePath" class="btn btn-primary @(item.FileStatus==FileStatus.Creating? "disabled":"" )">Download</a></td>
        </tr>
    }
</table>

